/*去除a标签的默认样式*/
a {
    color: black;
    text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;

}
/* 正在点击的链接*/
a:active {
    text-decoration: none;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.banner{
    background: url(images/index.jpg) no-repeat center;
    margin-bottom: 10px;
}
h4{
    padding: 0;
    margin: 0;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

}
table{
    width:100%;
    border-collapse:collapse; /*表格的边框合并，如果相邻，则共用一个边框*/
    border-spacing:0; /*设置行与单元格边框的间距。当表格边框独立（即border-collapse:separate;）此属性才起作用*/
}

table td{
    margin: 0;
    padding: 0;
    word-break: break-all; /*允许在字内换行,即单词可分*/
    word-wrap:break-word;/*允许长单词或URL地址换行*/
}
.slogan{
    color: white;
    font-size: 50px;
    margin: 30px 0;
}
.search-line{
    padding: 0 15px;
    border: 1px solid transparent;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width:450px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom:10px;
}
.search-button{
    margin: 0;
    padding: 0;
    height:40px;
    width:80px;
    outline: none;
    border: 0;
    background-color: #3399ea;
    color: white;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
}
.search-button:hover{
    background-color: rgba(0, 131, 234, 0.68);
}
input:focus{
    outline: none;
    border-color: #3399ea;
}
input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.8);
}
#billboard{
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}
#billboard a{
    color: white;
}
.billboard-hd{
    padding: 10px 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid gray;
}
.billboard-hd h2{
    font-size: 20px;
}
#billboard tbody{
    padding: 0 10px;
}

#billboard td{
    padding: 7px 0;

}
.line{
    border: 1px solid grey;
    height:1px;
    margin: 0 10px;
}
.order{
    font-size: 14px;
    text-align: center;
}
.title{
    font-size: 16px;;
}
.line{
    border: 0.5px solid #c7c7c7;
    height:0.5px;
}
.hot-comment-content{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

}
.hot-comment-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150px;
    margin: 15px;
}
.card-hd{
    margin-top: 5px;
}
.card-hd:hover{
    color: #3399ea;
}
.cover{
    width:150px;
    height:auto;
}
.star-list{
    padding-left: 5px;
}
.star-list li{
    float: left;
}
.star{
    width:13px;
    height:13px;
    margin: 0 1px;
}
.score{
    padding-top: 3px;
    margin: 0 6px;
    color: #e09015;
}
.hot-comment-title{
    margin: 10px;
}
.announcement-title{
    margin: 10px;

}